<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/forbidden.css">
    <title>Forbidden</title>
</head>
<body>
<!-- Strat Message For Forbidden -->
<div class="main">
    <div class="content">
        <h1 class="text">403</h1>
        <h2 class="text-tag">Forbidden</h2>
    <p class="message">Access to this resource on the server is denied!</p>
    </div>
</div> 
<!-- End Message For Forbidden -->
<footer class="footer">
    <hr class="line-break">
    <p class="info">
        <i class="fa-solid fa-hand-holding-hand"></i>
        Proudly power by information center uofd</p>
</footer>
</body>
</html>